@use "../abstracts" as *;

#contact {
  .contact-items {
    width: 400px;
    .contact-item {
      @include flex-c-c-col;
      transition: $transition-03 box-shadow;
      margin: 30px;
      border-radius: 10px;
      box-shadow: 0 0 18px 0 $black-light;
      padding: 30px;
      width: 80%;
      text-align: center;
      .icon {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 70px;
      }
      .contact-info {
        h2 {
          margin-bottom: 5px;
          font-size: var(--fs-large-400);
        }
        h3 {
          font-size: var(--fs-small-500);
        }
      }
      &:hover {
        box-shadow: 0 0 5px 0 $black-light;
      }
    }
  }
}
