@use "../abstracts" as *;

#projects {
  .projects-header {
    h1 {
      margin-bottom: 50px;
    }
  }
  .project-item {
    @include flex-c-c-col;
    margin: 20px auto;
    border-radius: 10px;
    cursor: pointer;
    width: 80%;
    overflow: hidden;
    &:hover {
      .project-img {
        img {
          transform: scale(1.1);
        }
      }
    }
    .project-info {
      @include flex-c-c-col;
      flex-basis: 50%;
      align-items: start;
      padding: 30px;
      height: 100%;
      background-color: $white;
      background-image: $gradient-48;
      color: $white;
      h2 {
        font-size: var(--fs-large-400);
        font-weight: 600;
      }
      h3 {
        margin-top: 10px;
        font-size: var(--fs-small-600);
      }
      p {
        color: $white;
      }
    }
    .project-img {
      @include relative-h;
      flex-basis: 50%;
      height: 300px;
      img {
        transition: $transition-03 transform;
      }
      &:after {
        @include absolute-c-0;
        opacity: 0.8;
        z-index: auto;
        background-image: $gradient-48;
      }
    }
  }
}

//Media Queries
@include mq(small) {
  #projects {
    .all-projects {
      .project-item {
        flex-direction: row;
        margin: 0;
        border-radius: 0;
        width: 100%;
        height: 400px;
        .project-info {
          height: 100%;
        }
        .project-img {
          height: 100%;
        }
        &:nth-child(even) {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
