@use "../abstracts" as *;

#services {
  .services {
    padding: 100px 0;
    max-width: 1500px;
  }
  .section-title {
    margin-bottom: 10px;
    letter-spacing: var(--fs-small-300);
    color: $black;
    font-size: var(--fs-large-600);
    font-weight: 300;

    span {
      color: $crimson;
    }
  }
  .service-bottom {
    @include flex-c-c;
    margin-top: 50px;
    .icon {
      margin-bottom: 20px;
      width: 80px;
      height: 80px;
    }
  }
  .service-item {
    @include flex-c-col;
    position: relative;
    flex-basis: 80%;
    align-items: flex-start;
    z-index: 1;
    margin: 10px 5%;
    border-radius: 10px;
    background-image: url("/assets/img/services.png");
    background-size: cover;
    padding: 30px;
    overflow: hidden;
    color: $white;

    &::after {
      @include absolute-0;
      opacity: 0.5;
      z-index: -1;
      background-color: $black;
      width: 100%;
      height: 100%;
      content: "";
    }
    h2 {
      margin-bottom: 10px;
      text-transform: uppercase;
      color: $white;
      font-size: var(--fs-large-300);
    }
    p {
      text-align: left;
      color: $white;
    }
  }
}
