// flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-jc-fs {
    justify-content: flex-start;
  }
  &-ai-c {
    align-items: center;
  }
  &-fd-c {
    flex-direction: column;
  }
  &-fd-c-r {
    flex-direction: column-reverse;
  }
  &-fw-w {
    flex-wrap: wrap;
  }
  &-ff-c {
    flex-flow: column;
  }
}

//position
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

//text
.text {
  &-center {
    text-align: center;
  }
  &-uppercase {
    text-transform: uppercase;
  }
}

//margin
.m-auto {
  margin: 0 auto;
}
