@use "../abstracts" as *;

.cta {
  display: inline-block;
  transition: $transition-03;
  margin-top: 30px;
  border: 2px solid $crimson;
  background-color: $transparent;
  padding: 10px 30px;
  letter-spacing: var(--fs-small-300);
  font-size: var(--fs-large-300);
  transition-property: background-color, color;

  &:hover {
    color: $white;
    background-color: $crimson;
  }
}

//Media Queries
@include mq(small) {
  .cta {
    padding: 20px 60px;
    font-size: var(--fs-large-400);
  }
}
