//Size
@mixin size-full {
  width: 100%;
  height: 100%;
}

//Position
@mixin absolute-0 {
  position: absolute;
  top: 0;
  left: 0;
}

//Flex
@mixin flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-c-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

//Animation
@mixin animate($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
