//Colors
$transparent: transparent;
$black: rgb(0, 0, 0);
$white: rgb(252, 252, 252);
$crimson: rgb(220, 20, 60);
$w-container: 1200px;
$m-auto: 0 auto;

//Transition
$transition-03: 0.3s ease;

//Size
$sizes: (
  small: (
    300: 0.2rem,
    400: 1rem,
    500: 1.4rem,
    700: 1.8rem,
  ),
  large: (
    300: 2rem,
    400: 2.5rem,
    500: 3rem,
    600: 4rem,
  ),
);

//Elements - Custom value
html {
  --fs-10: 10px;
}
