//Colors
$transparent: transparent;
$black: rgb(0, 0, 0);
$white: rgb(252, 252, 252);
$crimson: rgb(220, 20, 60);
$w-container: 1200px;
$m-auto: 0 auto;

//Transition
$transition-03: 0.3s ease;

//Elements
h2 {
    --fs-18: 1.8rem;
}