//Colors
$transparent: transparent;
$black: rgb(0, 0, 0);
$white: rgb(252, 252, 252);
$crimson: rgb(220, 20, 60);
$w-container: 1200px;
$m-auto: 0 auto;

//Transition
$transition-03: 0.3s ease;

//Font Sizes
$font-med: 2rem; //20px
$font-lg: 4rem; //40px